
<div class="container">
  <div class= "item">
	<%= image_tag "PORTRAIT7recadre.png", :class => "img-circle"%>
	<h1>Hi, i'm Vanessa</h1>
	<p> 
		I'm a french developer:  Back-end programming in Ruby, Rails framework (MVC Pattern), relationnal databases (SQL, PostgreSQL), Front-end programming in HTML5, CSS3 & Javascript(ES6), Product design (UX/UI, wireframe & mockups) 
		<a href="mailto:vanmassiot@gmail.com">Contact</a>
	</p>
	</div>

	<div class="item item-b">
		<p> I like minimalist app, clean code, and go straight to the point to be efficient. You can see all my projects here <a href="mailto:vanessa.massiot@free.fr">>></a> </p>
	</div>

</div>
