
<div class= "box">
	<p> Vanessa Kabar Massiot
		<br>
		_

		<br>
		Web developper:  Back-end programming in Ruby, Rails framework (MVC Pattern), relationnal databases (SQL, PostgreSQL), Front-end programming in HTML5, CSS3 & Javascript(ES6), Product design (UX/UI, wireframe & mockups) 
		<br>
		_

		<br>
		<a href="mailto:vanessa.massiot@free.fr">Contact</a>

	</p>
</div>

<div class="box">
	<%= image_tag "sally.png", :class => "img-circle"%>	
</div>
<div>
	<p> I like minimalist app, clean code, and go straight to the point to be efficient. You can see all my projects here <a href="mailto:vanessa.massiot@free.fr">>></a> </p>
</div>